<div layout="column" layout-align="center center" flex>
    <md-whiteframe class="md-whiteframe-3dp" layout="column" style="margin: 1em; width: 22em; height: 15em;" flex>
        <div layout="column" flex style="margin-left: 1em;">
            <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
                <div>
                    <md-input-container>
                        <label>Email</label>
                        <input ng-model="user" type="email">
                    </md-input-container>

                    <md-input-container>
                        <label>Password</label>
                        <input type="password" ng-model="password">
                    </md-input-container>
                </div>
            </md-content>
        </div>
        <md-divider></md-divider>
        <div layout="row" layout-align="space-around center" flex="20">
            <md-button ng-click="loginSubmit()" class="md-raised md-primary">Login</md-button>
        </div>
    </md-whiteframe>
</div>
